/* #efebec */

body {
  font-family: Georgia, sans-serif;
  display: flex;
  flex-direction: column;
  margin: 0;
  color: black;
}

.logo {
  max-width: 100px;
  max-height: auto;
}

.socials img {
  max-width: 26px;
  max-height: auto;
}

header,
footer {
  background-color: #efebec;
  display: flex;
  flex: 1;
}

header {
  padding: 8px;
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
}

header ul {
  list-style: none;
  display: flex;
  gap: 22px;
  align-items: center;
  justify-content: center;
  font-size: 24px;
}

a {
  text-decoration: none;
  color: #494949;
  -webkit-transition: color 2s;
  transition: color 0.4s;
}

a:hover {
  color: #bb68c0;
}

.body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  padding-top: 20px;
  padding-bottom: 20px;
  gap: 5px;
}

.socials {
  display: flex;
  gap: 20px;
}
